
footer#footer
	.container
		.copyright
			| 2020 © Copyright 
			strong Alpha Beta Solution
			| . All Rights Reserved
		.imageref Image ref.
			a(href="https://www.freepik.com/" traget="_blank") freepik
		.credits
			| Designed by 
			a(href='https://bootstrapmade.com/' rel="nofollow" traget="_blank") BootstrapMade
// End  Footer
a.back-to-top(href='#')
	i.fa.fa-chevron-up

// Vendor JS Files
script(src='/vendor/jquery/jquery.min.js')
script(src='/vendor/bootstrap/js/bootstrap.bundle.min.js')
script(src='/vendor/jquery.easing/jquery.easing.min.js')
//script(src='/vendor/contact-form-validation/validate.js')
script(src='/vendor/isotope-layout/isotope.pkgd.min.js')
script(src='/vendor/counterup/counterup.min.js')
//script(src='/vendor/owl.carousel/owl.carousel.min.js')
script(src='/vendor/waypoints/jquery.waypoints.min.js')
script(src='/vendor/aos/aos.js')

// Template Main JS File
script(src='/js/frontend/main.js?ver='+version)
