.sidebarOverlay &nbsp;
nav#sidebar.sidebar-wrapper
	.sidebar-content
		.sidebar-brand
			a.navbar-brand(href='/dashboard')
				img(src='/images/small-logo.png' class="small-logo") 
				span.full-logo 
					img(src='/images/logo-new.png')
		.sidebar-menu
			ul
				li
					a(href='/dashboard')
						i.feather.icon-home
						span Dashboard
				li
					a(href='/homepage')
						i.feather.icon-home
						span Home Page
				li
					a(href='/pages') 
						i.feather.icon-file-minus
						span Pages
				li
					a(href='/menus') 
						i.feather.icon-link-2
						span Menus
				li
					a(href='/media') 
						i.feather.icon-image
						span Media
			// sidebar-menu