extends ../_template/_layout

block styles
	link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Montserrat:200,400,700')
	link(rel='stylesheet' href='/css/not-found.css')

block content
	main
		#notfound
			.notfound
				.notfound-404
					h1 Oops!
					h2 #{status} 
						br
						| I guess you went off the course
				h3.message #{msg}
				a(href="javascript:history.go(-1)") Get back on road
	
	// This templates was made by Colorlib (https://colorlib.com)